body {
    background-color: lightblue;
    color: black;
    font-weight: 500px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 3px white;
    height: 100vh;
}

.title {
    font-size: 64px;
    text-align: center;
    font-weight: 700px;
    overflow: hidden;
    border-right: .15 solid black;
    white-space: nowrap;
    margin: 50px auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
   
#game-area {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
#settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, lightblue, white);
    height: 600px;
    width: 300px;
}
#color-container,
#clear-input,
#grid-size-container,
#create-grid,
#rainbow-container,
#grid-lines-container {
    margin-left: 16px;
}

#rainbow-container,
#color-mode-container,
#grid-lines-container {
    display: flex;
    gap: 0.5em;
}

#rainbow,
#color-mode,
#grid-lines {
    background: none!important;
    border: none;
    padding: 0!important;
    font-weight: 500px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 3px white;
    cursor: pointer;
}

#color-mode:hover {
    transform: scale(1.05);
}

#rainbow:hover {
    transform: scale(1.05);
}

#grid-lines:hover {
    transform:scale(1.05);
}

#create-grid {
    cursor: pointer;
}

#create-grid:hover {
    transform: scale(1.05);
}

#clear-input {
    cursor: pointer;
}

#clear-input:hover {
    transform: scale(1.05);
}
#grid-size-container {
    display: flex;
    flex-direction:column;
    gap: 0.5em;
}
input[type="color"] {
    cursor: pointer;
    border: none;
    border-color: transparent;
    padding: 0;
    appearance: none;
    background-color: transparent;
}
input[type="color" i]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

#grid-container {
    height: 600px;
    border: solid black 2px;
    width: 600px;
    border-radius: 4px;
    font-size: 0;
    white-space: nowrap;
}

.boxes {
    display: inline-block;
    border: solid black 1px; 
    box-sizing: border-box;
}

#footer {
    text-align: center;
    margin-top: 600px;
    border: solid black 2px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5)
}
.footer-text {
    margin: 0.5em;
}